<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>SectionTitle</key>
		<string>About Stack</string>
		<key>Data</key>
		<array>
			<dict>
				<key>CellStyle</key>
				<string>SettingDetailCell</string>
				<key>Content</key>
				<string>github page</string>
			</dict>
			<dict>
				<key>CellStyle</key>
				<string>SettingBasicCell</string>
				<key>Content</key>
				<string>Engaged Open Sources</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>SectionTitle</key>
		<string>About Developer</string>
		<key>Data</key>
		<array>
			<dict>
				<key>CellStyle</key>
				<string>SettingDetailCell</string>
				<key>Content</key>
				<string>younari.me</string>
			</dict>
			<dict>
				<key>CellStyle</key>
				<string>SettingBasicCell</string>
				<key>Content</key>
				<string>Support</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>SectionTitle</key>
		<string>Setting</string>
		<key>Data</key>
		<array>
			<dict>
				<key>CellStyle</key>
				<string>SettingSwitchCell</string>
				<key>Content</key>
				<string>Notification</string>
			</dict>
			<dict>
				<key>CellStyle</key>
				<string>SettingTextCell</string>
				<key>Content</key>
				<string>Version</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
